@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
/*hex#021D24, rgb 2, 29, 36 - dark blue
hex#002400 rgb 0, 36, 0 - dark green
hex#fbffff, rgb 251,255,255 white-ish */

body {
   margin: 0;
   color: #fbffff;
   background-color: #021D24;
   background: url("Trees.svg") fixed no-repeat center bottom;
   background-size: cover;
   font-family: "Shadows Into Light", sans-serif;
}
/* Header bar text */
header {
   background-image: linear-gradient(rgba(0, 36, 0, 1), rgba(0, 36, 0, 0));
   color: #fbffff;
   font-family: "Amatic SC", "Shadows Into Light", sans-serif;
   padding-bottom: 20px;
}
header h1 {
   display: inline-block;
   padding: 0 3% 0 1%;
   font-size: 60px;
   margin: 0;
}
header h2 {
   font-family: "Shadows Into Light", sans-serif;
   color: #fbffff;
   font-size: 30px;
   margin: 0;
   padding: 0 1%;
   text-align: center;
}
h1 + h2 {
   display: inline-block;
   margin-bottom: 0;
}
/*home navigation buttons*/
#home {
   margin: 10% auto 0;
   padding: 0 2.5%;
   color: #fbffff;
   text-align: center;
}
#home li {
   font-family: "Amatic SC", "Shadows Into Light", sans-serif;
   display: inline-block;
   list-style: none;
   font-size: 30px;
   padding: 0 15px;
   margin: 12px;
   border: solid #fbffff 2px;
   border-radius: 8px;
}
#home li:hover {
   background-color: #fbffff;
   color: #021D24;
   border: solid #021D24 2px;
}
#selected {
   background-color: #fbffff;
   color: #021D24;
   border: solid #021D24 2px;
}
/*designer and developer IDs use the same class of portfolio*/
#designer {
   margin-top: 10%;
   text-align: center;
   display: none;
}
#developer {
   margin-top: 10%;
   text-align: center;
   display: none;
}
.portfolio {
   width: 20%;
   max-width: 250px;
   padding: 2.5%;
   display: inline-block;
}
.portfolio img {
   width: 100%;
}
.portfolio p {
   font-family: "Amatic SC", "Shadows Into Light", sans-serif;
   font-size: 24px;
   padding: 0;
   margin: 0;
}
/*ContactID has image and text*/
#contact {
   padding: 25px;
   text-align: center;
   margin: 10% 0 15px;
   height: 25%;
   background-color: rgba(255, 255, 255, .3);
   display: none;
}
/*Archivist ID has 2 halfboxes*/
#archivist {
   margin: 10% 0 0 0;
   text-align: center;
   display: none;
}
.halfBox {
   width: 40%;
   display: inline-block;
   padding: 10px;
   overflow: hidden;
   background-color: #fbffff;
   color: #021D24;
   border: solid #021D24 2px;
   border-radius: 8px;
   box-size: border-box;
   margin: 0 2%;
   vertical-align: top;
}
#contact h2 {
   text-align: center;
   font-size: 28px;
   margin: 0;
   padding: 10px 0 0 0;
   color: #021D24;
}
#contact img {
   padding: 0;
   max-width: 200px;
   width: 50%;
   margin: 0;
   border: solid #021D24 2px;
   border-radius: 8px;
}
